@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}

<div class="container">

    <!--Main row-->
    <div class="row">

        <!--left | image-->
        <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <div style="margin-bottom:10%">
                <img src="img/02.png" style="width:100%;height:100%;" class="Myimageshadow" />

            </div>

        </div>

        <!--right | description-->
        <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6" style="color:white;padding-top:5%;font-size:110%">

            <p>Hello, I'm <span style="color:aqua;font-weight:bold;">Ravidu Sandesh piyumantha, <br />
                </span>a software developer who dedicated to building innovative and user-friendly digital solutions
                with a strong foundation in technologies like <span style="color:aqua;font-weight:bold">HTML, CSS, JavaScript, ASP.NET Core (MVC), C#, and 
                desktop applications.</span> <br />
                I enjoy turning complex problems into simple, elegant, and efficient solutions.
            </p>

            <p>Over the past few years, I’ve worked on a variety of projects ranging from desktop applications
                to modern web platforms, always focusing on delivering high-quality software that makes a real impact. 
                I’m constantly exploring new technologies and best practices to improve my skills and stay updated with the 
                latest trends in software development.
            </p>

            <p>
                My goal is to create applications that are not only functional but also provide an excellent user experience.
                Outside of coding, I love learning new tools, exploring emerging tech like 
                <span style="color:aqua;font-weight:bold">AI and cloud computing,</span> and sharing
                my knowledge through tutorials and content creation.
            </p>

        </div>

    </div>
</div>