@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">

    <!--row 01-->
    <div class="row IndexPageCard" style="margin-top:3%;border-radius:2px;">

        <!--img left-->
        <div class="col-12 col-md-2 col-lg-2 cl-xl-2 col-xxl-2">
            <div style="padding-top:2%;padding-bottom:0%">
                <img src="~/img/web.png" />
            </div>
          
           
        </div>

        <!--text middle-->
        <div class="col-12 col-md-8 col-lg-8 cl-xl-8 col-xxl-8">

            <label style="font-size:150%;font-weight:bold">Web Applications</label> <br />
           <p>Develop a elegent, efficient, secure and future proof web applications for yout businesses</p>

        </div>

        <!--right btn-->
        <div class="col-12 col-md-2 col-lg-2 cl-xl-2 col-xxl-2" style="padding-top:1.5%">
            <a href="https://wa.me/94771634350?text=Hello, can I gate one" target="_blank">
                <label type="button" class="btn btn-success" style="background-color:aqua;color:black;font-weight:bold">Send Message</label>
            </a>
        </div>
    </div>

    <!--row 01-->
    <div class="row IndexPageCard" style="margin-top:3%;border-radius:2px;">

        <!--img left-->
        <div class="col-12 col-md-2 col-lg-2 cl-xl-2 col-xxl-2">
            <div style="padding-top:2%;padding-bottom:0%">
                <img src="~/img/desktop.png" />
            </div>


        </div>

        <!--text middle-->
        <div class="col-12 col-md-8 col-lg-8 cl-xl-8 col-xxl-8">

            <label style="font-size:150%;font-weight:bold">Desktop Applications</label> <br />
            <p>Develop a elegent, efficient, secure and future proof desktop applications for yout businesses</p>

        </div>

        <!--right btn-->
        <div class="col-12 col-md-2 col-lg-2 cl-xl-2 col-xxl-2" style="padding-top:1.5%">
            <a href="https://wa.me/94771634350?text=Hello, can I gate one" target="_blank">
                <label type="button" class="btn btn-success" style="background-color:aqua;color:black;font-weight:bold">Send Message</label>
            </a>
        </div>
    </div>
</div>