@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <!--Main row-->
    <div class="row">

        <!--left side image-->
        <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6" style="margin-top:3%">

            <div class="row">

                <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" style="">
                    <img id="imgPreview" style="border-radius:25px;width:100%;height:70vh" />
                </div>

            </div>

            <!--Brows btn-->
            <div class="row" style="padding-top:2%">

                <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button type="submit" class="btn btn-success fw-bold" id="btnBrows" style="width:100%;background-color:aqua;color:black;font-size:120%">Brows</button>
                    <input type="file" id="fileInput" hidden/>
                </div>

            </div>
            

        </div>

        <!--right-->
        <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6" style="margin-top:5%">

            <!--Sun row | service name-->
            <div class="row">

                <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div>
                        <label style="font-weight:bold;color:aqua;font-size:120%">Service Name</label>
                    </div>
                    <div style="padding-top:2%">
                        <input type="text" class="form-control" placeholder="Service Name" />
                    </div>
                </div>

            </div>

            <!--Sun row | Description-->
            <div class="row" style="padding-top:4%">

                <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div>
                        <label style="font-weight:bold;color:aqua;font-size:120%">Description</label>
                    </div>
                    <div style="padding-top:2%">
                        <textarea class="form-control" rows="5" style="resize:none" placeholder="Description"></textarea>
                    </div>
                </div>

            </div>

            <!--btn save-->
            <div class="row" style="padding-top:3%">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div>
                        <button type="submit" style="font-weight:bold;font-size:150%;width:100%;background-color:aqua;border-radius:25px">Save</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>