@{
    ViewData["Title"] = "Privacy Policy";
    @model MyPortfolio.Models.ViewModels.ContactViewModel
}

<form asp-action="Contact" method="post">

    <div class="container">

        <!--Main row | row 01-->
        <div class="row">

            <!--left-->
            <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6" style="padding-top:10%">

                <label class="fw-bold" style="font-size:200%;color:aqua">Email</label><br />
                <label class="fw-bold" style="font-size:150%;color:white">sandeshpiumantha52@gmail.com</label>

                <br />

                <label class="fw-bold" style="font-size:200%;color:aqua">Phone number</label><br />
                <label class="fw-bold" style="font-size:150%;color:white">+94 77 1634350</label>

                <br />

                <a href="https://wa.me/94771634350" target="_blank" style="padding-top:2%">
                    <label type="button" class="btn btn-success fw-bold" style="background-color:aqua;color:black">Send message</label>

                </a>

                <!--The commented code is optional one. It use to send message with default message-->
                @*  <a href="https://wa.me/94771634350?text=Hello,sandesh" target="_blank" style="padding-top:2%">
                <label type="button" class="btn btn-success fw-bold" style="background-color:aqua;color:black">Send message</label>

            </a> *@

            </div>

            <!--right-->
            <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6" style="margin-top:5%;color:aqua">

                <!--Full name row-->
                <div class="row" style="padding-top:2%">

                    <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                        <div>
                            <label class="fw-bold">Full name</label>
                        </div>

                        <div style="padding-top:1%">
                            <input type="text" asp-for="FullName" placeholder="Full name" class="form-control" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>


                    </div>

                </div>

                <!--Contact no row-->
                <div class="row" style="padding-top:2%">

                    <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                        <div>
                            <label class="fw-bold">Your Contact number</label>
                        </div>

                        <div style="padding-top:1%">
                            <input type="text" asp-for="ContactNo" placeholder="Your Contact number" class="form-control" />
                            <span asp-validation-for="ContactNo" class="text-danger"></span>
                        </div>


                    </div>

                </div>

                <!--message row-->
                <div class="row" style="padding-top:2%">

                    <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                        <div>
                            <label class="fw-bold">Message</label>
                        </div>

                        <div style="padding-top:1%">
                            <textarea rows="4" asp-for="Message" style="resize:none" placeholder="Message" class="form-control"></textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>


                    </div>

                </div>

                <!--btn send-->
                <div class="row" style="margin-top:3%">

                    <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <button type="submit" class="btn btn-success fw-bold" style="font-size:120%;background-color:aqua;color:black;width:100%">
                            Send
                        </button>
                    </div>

                </div>


            </div>

        </div>

    </div>
</form>

