@{
    ViewData["Title"] = "Home Page";
}


<div class="container">

    <div class="row" style=""><!--Main row-->

        <!--Left side-->
        <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6" style="margin-top:15%">

            <!--Greeting-->
            <label style="font-size:220%;font-weight:bold;color:white">Hello, I'm </label><br />
            <!--My name-->
            <label style="font-size:300%;font-weight:bold;color:#00e5ff">Ravidu Sandesh</label><br />
            <!--My position-->
            <label style="font-size:280%;font-weight:bold;color:white">and I'm a <span style="color:aqua">Software Engineer</span></label>

            <div class="gap-5">

                <a href="https://facebook.com/share/A7cq1qav3nKZWoC1"><img src="~/img/fb.png" style="width:5%;height:6%;color:#00e5ff" /></a>
                <a href="https://youtu.be/4d6v302pHek"><img src="~/img/youtube.png" style="width:5%;height:6%;margin-left:3%" /></a>
                <a href="https://www.linkedin.com/in/ravidu-sandesh-piyumantha-123b6a287"><img src="~/img/linkedin.png" style="width:5%;height:6%;margin-left:3%" /></a>

            </div>

          

        </div>

        <div class="col-10 col-md-1"></div>

        <!--Right side-->
        <div class="col-11 col-md-5 col-lg-5 col-xl-5 col-xxl-5" style="">

            <div style="margin-bottom:10%">
                <img src="img/02.png" style="" class="Myimageshadow imageAnimation" />

            </div>

        </div>

    </div>

    <!--Row 02 My Projects-->
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">

            <label class="NavBarTextColor" style="font-weight:bold;font-size:220%">My projects</label>

        </div>
    </div>

    <!--Row 03-->
    <div class="row" style="margin-top:5%">

        <!--Left-->
        <div class="col-12 col-md-6 col-lg-6 col-xl-16 col-xxl-6">
            <div class="IndexPageCard" style="padding-left:3%">

                <label style="font-size:200%;font-weight:bold;">Project Name</label><br />
                <p> This is my POS project that create for small and medium size businesses<br />
                    In this project I use SQL, Windows form, C# and .NET Frameword 4.8.
                </p>

            </div>
        </div>

       
        <!--right-->
        <div class="col-12 col-md-6 col-lg-6 col-xl-16 col-xxl-6">
            <div class="IndexPageCard" style="padding-left:3%">

                <label style="font-size:200%;font-weight:bold;">Project Name</label><br />
                <p>
                    This is my POS project that create for small and medium size businesses<br />
                    In this project I use SQL, Windows form, C# and .NET Frameword 4.8.
                </p>

            </div>
        </div>

    </div>


    <!--Row 04 Skills-->
    <div class="row" style="margin-top:5%">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">

            <label class="NavBarTextColor" style="font-weight:bold;font-size:220%">Skills</label>

        </div>
    </div>

    <!--Row 05-->
    <div class="row" style="margin-top:5%">

        <!--Left-->
        <div class="col-12 col-md-6 col-lg-6 col-xl-16 col-xxl-6">

            <div class="IndexPageSkillsAreaText">
                <ul>
                    <li>C#</li>
                    <li>.NET</li>
                    <li>.NET Framework</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScipt</li>
                    <li>Desktop application development</li>
                    <li>Web development</li>
                </ul>
               

            </div>
           
        </div>


        <!--right-->
        <div class="col-12 col-md-6 col-lg-6 col-xl-16 col-xxl-6">

            <div class="IndexPageSkillsAreaText">
                <ul>
                    <li>SQL</li>
                    <li>ASP.NET Core (Razor)</li>
                    <li>ASP.NET Core MVC</li>
                    <li>Bootstrap</li>
                    <li>jQuery</li>
                    
                </ul>


            </div>

        </div>

    </div>

</div>


@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@