html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.AllPgBgColor{

    background-color:black;
/*    color:white;*/

}

.NavBarTextColor {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.NavBarTextColor:hover {
        color: #00e5ff;
}

.Myimageshadow {
    filter: drop-shadow(5px 5px 20px rgba(0, 229, 255, 0.9));
}

.IndexPageCard{
    
    border:solid;
    background-color:lightcyan;
    border-color:lavender;
    border-radius:25px;
    color:black;

}

.IndexPageCard:hover{

    filter:drop-shadow(5px 5px 10px rgba(0,229,255,0.9));
   

}

.IndexPageSkillsAreaText{
    color:#00e5ff;
    font-weight:bold;
    font-size:170%;
}