<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyPortfolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyPortfolio.styles.css" asp-append-version="true" />
</head>

<body class="AllPgBgColor">

    <header class="AllPgBgColor">

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3" style="margin-top:1%">

            <div class="container">

                <!-- brand -->
                <a class="text-decoration-none" style="font-weight:bold;color:#00e5ff;font-size:120%" asp-area="" asp-controller="Home" asp-action="Index">.Ravidu Sandesh</a>

                <!--Hamburger button-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span style="background-color:#00e5ff;border-radius:5px" class="navbar-toggler-icon"></span> <!--Hamburger menu icon-->
                </button>

                <!--My codes (I was fully customize this part)-->
                <div class="collapse navbar-collapse" id="mainNavbar">

                    <ul class="navbar-nav ms-auto gap-4">

                        <li class="nav-item">
                            <a class="text-decoration-none NavBarTextColor" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="text-decoration-none NavBarTextColor" asp-area="" asp-controller="Services" asp-action="Index">Services</a>
                        </li>

                        <li class="nav-item">
                            <a class="text-decoration-none NavBarTextColor" asp-area="" asp-controller="About" asp-action="Index">About</a>
                        </li>

                        <li class="nav-item">
                            <a class="text-decoration-none NavBarTextColor" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>

                        <!--Dropdow-->
                        <li class="nav-item dropdown">

                            <a class="text-decoration-none NavBarTextColor dropdown-toggle" data-bs-toggle="dropdown"
                               aria-expanded="false" role="button" style="color:white;">Admin</a>

                            <ul class="dropdown-menu">

                                <li>
                                    <a class="dropdown-item" asp-controller="AddNewProjects" asp-action="Index">Add personal projects</a>
                                </li>

                                <li>
                                    <a class="dropdown-item" asp-controller="AddNewServices" asp-action="Index">Add new services</a>
                                </li>

                            </ul>
                        </li>

                        <!--Login-->
                        <li class="nav-item dropdown">

                            <a class="text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" 
                            role="button" style="color:white">Login</a>

                            <ul class="dropdown-menu">

                                <li>
                                    <a class="dropdown-item" style="color:black">Login</a>
                                </li>

                                <li>
                                    <a class="dropdown-item" style="color:black">Logout</a>
                                </li>
                            </ul>

                        </li>


                    </ul>
                </div>
                

            </div>

        </nav>

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2025 - MyPortfolio - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
