@{

}

<div class="container">

    <!--main row-->
    <div class="row d-flex justify-content-center" style="margin-top:4%">

        <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 brd" style="">

            <!--sub row | login label-->
            <div class="row" style="padding-top:3%">

                <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <label style="font-weight:bold;color:aqua;font-size:200%">Login</label>
                </div>

            </div>

            <!--Sub row | hr line-->
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <hr style="background-color:aqua" />
                </div>
            </div>

            <!--sub row | username-->
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <!--lblUsername-->
                    <div>
                        <label class="Text">Username</label>
                    </div>

                    <!--tbxUsername-->
                    <div style="padding-top:2%">
                        <input type="text" class="form-control" style="width:100%" placeholder="Username" />
                    </div>
                </div>
            </div>

            <!--sub row | password-->
            <div class="row" style="padding-top:4%;padding-bottom:3%">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <!--lblPassword-->
                    <div>
                        <label class="Text">Password</label>
                    </div>

                    <!--tbxPassword-->
                    <div style="padding-top:2%">
                        <input type="text" style="width:100%" class="form-control" placeholder="Password" />
                    </div>
                </div>
            </div>

            <!--Sub row | hr line-->
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <hr style="background-color:aqua" />
                </div>
            </div>

            <!--Sub row | btnLogin-->
            <div class="row" style="padding-bottom:3%">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button type="submit" class="btn btn-success" 
                    style="width:100%;color:black;border-radius:25px;background-color:aqua;font-size:120%;font-weight:bold">Login</button>
                </div>
            </div>


        </div>

    </div>

</div>